$sm: 576px;
$ipad: 768px;
$lg: 992px;
$web: 1024px;
$xl: 1200px;
$xxl: 1400px;

@mixin breakpoint($min_width) {
  @media (min-width: $min_width) {
    @content;
  }
}

// mixin引用：
// @use "../utility/breakpoints" as *; 要引as*
// @include breakpoint($web) {
//   display: block;
// }
